$primary: #2abed1;

@import "bootstrap/scss/bootstrap";

.bg-body-udp {
  background-color: #2abed1;
}

.navlink-width {
  width: 200px;
  text-align: center;
  align-self: center;
  color: white;
  line-height: normal;
}

#inquiry,
#contactus {
  background-image: url("./assets/img/enquiry-bg.png");
  background-size: contain;
  border-bottom: 1px solid #f3f3f3;
}

p {
  font-weight: 500;
  line-height: 150%;
}

img {
  -webkit-user-drag: none;
}

.circle-box {
  width: 95px;
  height: 93px;
  background-color: $primary;
  padding: 10px;
  border-radius: 50%;
  p {
    color: white;
    font-size: 13px;
    &:first-child {
      font-size: 20px;
    }
  }
}

.solution-card {
  border-radius: 30px;
  border: 3px solid $primary;
  .bg-primary-light {
    background-color: #bbebf1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .card-body {
    height: 19vh;
  }
}

.infrastructure,
.professional {
  div {
    text-align: center;
  }
  p {
    font-size: 9px;
    line-height: 95%;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.trusted-partners {
  margin-bottom: 20px;
}
