$primary: #2abed1;

@import "bootstrap/scss/bootstrap";

.bg-body-udp {
  background-color: #2abed1;
}

.navlink-width {
  width: 200px;
  text-align: center;
  align-self: center;
  color: white;
  line-height: normal;
}

#inquiry,
#contactus {
  background-image: url("./assets/img/enquiry-bg.png");
  background-size: contain;
  border-bottom: 1px solid #f3f3f3;
}

p {
  font-weight: 500;
}

img {
  -webkit-user-drag: none;
}
